<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main_layout}" lang="fr">
<body>
<!-- BODY -->
<div layout:fragment="content" class=" offset-2 col-10">
    <h1 class="h1 py-3"> Diagnostique </h1>
    <div class="offset-2 m-3">
        <h2 class="h3">1) Informations du patient</h2>
        <div style="display: flex">
            <div class="m-3">
                <ul>
                    <li class="m-1">ID : <span class="fw-bold" th:text="${diagnostique?.getPatient()?.getId()}"></span> </li>
                    <li class="m-1">Nom : <span class="fw-bold" th:text="${diagnostique?.getPatient()?.getNom()}"></span> </li>
                </ul>
            </div>

            <div class="m-3">
                <ul>
                    <li class="m-1"> Date : <span class="fw-bold" th:text="${diagnostique?.getDateEtatFormat()}"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="offset-2 m-3">
        <h2 class="h3 py-3">2) Liste des maladies : </h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID maladie</th>
                    <th>Nom maladie</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${diagnostique?.getMaladieList()}">
                    <td th:text="${item?.getId()}"></td>
                    <td th:text="${item?.getNom()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="offset-2 m-3">
    <h2 class="h3 py-3">3) Liste des médicaments : </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID médicament</th>
                <th>Nom médicament</th>
                <th>Prix unitaire (Ar)</th>
                <th>Quantité</th>
                <th>Prix total (Ar)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${diagnostique?.getMedicamentQuantiteList()}">
                <td th:text="${item?.getMedicament()?.getId()}"></td>
                <td th:text="${item?.getMedicament()?.getNom()}"></td>
                <td th:text="${item?.getMedicament()?.getPrixUnitaire()}"></td>
                <td th:text="${item?.getQuantite()}"></td>
                <td th:text="${item?.getPrixTotal()}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="h5">Total:</td>
                <td class="h5" th:text="${diagnostique?.getTotalPrix()}"></td>
            </tr>
            </tfoot>
        </table>
        </div>
    </div>

</div>
</body>
</html>
